<div class="row animated fadeIn">
    <div class="col-md-6">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Categoria Nuevo</h3>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form autocomplete="off" #f="ngForm" ngNativeValidate (ngSubmit)="guardarCategoriaNuevo(f)">
                        <div class="form-group">
                            <label>Nombre Categoria</label>
                            <input ngModel="" name="nombre" type="text" class="form-control" placeholder="Nombre Categoria"
                                required>
                        </div>
                        <div class="form-group">
                            <label>Código</label>
                            <input ngModel="" name="codigo" type="text" class="form-control" placeholder="Nombre Codigo"
                                required>
                        </div>
                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                            <i class="fa fa-save"></i>
                            Guardar
                        </button>
                        <a routerLink="/categorias" class="btn btn-inverse waves-effect waves-light">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <h2 class="box-title m-b-0">Example</h2>
        <hr>
        <p>Nombre REACT</p> 
        <p>Codigo FE_REACT</p>
    </div>
</div>

