<div class="row animated fadeIn">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
  
          <input #input (keyup)="buscarCategorias(input.value)" type="text" class="form-control"
            placeholder="Buscar usuario...">
  
        </div>
      </div>
    </div>
  </div>
  
  <div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">
      <div class="alert alert-warning text-center">
        <strong>Cargando</strong>
        <br>
        <i class="fa fa-refresh fa-spin fa-2x"></i>
        <br>
        <span>Espere por favor</span>
      </div>
    </div>
  </div>
  
  <div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="text-right">
            <button [routerLink]="['/categoriaNuevo', 'nuevo' ]" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
              <i class="fa fa-plus"> Crear Categoria</i>
            </button>
          </div>
  
          <h3 class="card-title">Categorias registradas (<small>{{totalRegistros}}</small>)</h3>
  
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Codigo</th>
                <th></th>
              </tr>
            </thead>
  
            <tbody>
              <tr *ngFor="let categoria of categorias">
                <td class="w70">
                  <img (click)="mostrarModal(categoria._id)" [src]="categoria.img | imagen:'categoria'" class="img-50 img-circle pointer">
                </td> 
                <td>{{categoria.nombre}}</td>
                <td>{{categoria.codigo}}</td>
                <td>
                  <button [routerLink]="['/categoria', categoria._id ]" class="btn btn-primary mr-2">
                    <i class="fa fa-edit"></i>
                  </button>
                  <button (click)="borrarCategoria(categoria,categoria._id)" class="btn btn-danger">
                    <i class="fa fa-trash-o"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <button (click)="cambiarDesde(-6)" class="btn btn-secondary mr-2">
            Anteriores
          </button>
          <button (click)="cambiarDesde(6)" class="btn btn-secondary">
            Siguientes
          </button>
        </div>
      </div>
    </div>
  </div>