<h3 class="item-color">Actualizar Usuario</h3>
<hr>
<form autocomplete="off" ngNativeValidate #f="ngForm" (ngSubmit)="guardarUsuario(f)">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Nombres</label>
            <input ngModel="" name="nombres" class="form-control" type="text" required placeholder="nombre">
        </div>
        <div class="form-group col-md-6">
            <label for="inputEmail4">Apellidos</label>
            <input ngModel="" name="apellidos" class="form-control" type="text" required  placeholder="apellidos">
        </div>
    </div>

    <div class="form-group">
        <label for="inputAddress">Telefono</label>
        <input ngModel="" name="telefono" class="form-control" type="text" required placeholder="Ingrese telefono">
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputState">Rol</label>
            <select [(ngModel)]="defaultOption" name="role" class="form-control">
                <option [value]=null>--Seleccione--</option>
                <option *ngFor="let rol of roles" [value]="rol.name">{{rol.name}} </option>
              </select>
        </div>
        <div class="form-group col-md-6">
            <label for="inputAddress2">Email</label>
            <input ngModel="" name="email" class="form-control" type="email" required placeholder="Correo del usuario">
        </div>
    </div>
    <div class="form-row mt-2">
        <div class="form-group col-md-12 text-left">
            <button type="submit" class="btn btn-success">Actualizar Usuario</button>
        </div>
    </div>
</form>