<div class="row animated fadeIn">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
  
          <input #input (keyup)="buscarCursos(input.value)" type="text" class="form-control"
            placeholder="Buscar usuario...">
  
        </div>
      </div>
    </div>
  </div>
  
  <div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">
      <div class="alert alert-warning text-center">
        <strong>Cargando</strong>
        <br>
        <i class="fa fa-refresh fa-spin fa-2x"></i>
        <br>
        <span>Espere por favor</span>
      </div>
    </div>
  </div>
  
  <div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="text-right">
            <button [routerLink]="['/cursoNuevo', 'nuevo' ]" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
              <i class="fa fa-plus"> Crear Curso</i>
            </button>
          </div>
  
          <h3 class="card-title">Cursos registrados (<small>{{totalRegistros}}</small>)</h3>
  
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Imagen</th>
                <th>Curso</th>
                <th></th>
              </tr>
            </thead>
  
            <tbody>
              <tr *ngFor="let curso of cursos">
                <td class="w70">
                  <img (click)="mostrarModal(curso._id)" [src]="curso.img | imagen:'curso'" class="img-50 img-circle pointer">
                </td> 
                <td>{{curso.nombre}}</td>                
                <td>
                  <button [routerLink]="['/curso', curso._id ]" class="btn btn-primary mr-2">
                    <i class="fa fa-edit"></i>
                  </button>
                  <button (click)="borrarCurso(curso,curso._id)" class="btn btn-danger">
                    <i class="fa fa-trash-o"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <button (click)="cambiarDesde(-5)" class="btn btn-secondary mr-2">
            Anteriores
          </button>
          <button (click)="cambiarDesde(5)" class="btn btn-secondary">
            Siguientes
          </button>
        </div>
      </div>
    </div>
  </div>
