<div class="row animated fadeIn">

    <div class="col-md-6">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Curso: {{curso.nombre}}</h3>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form #f="ngForm" ngNativeValidate (ngSubmit)="guardarUsuario(f)">
                        <div class="row mb-3">
                            <div class="col">
                                <label>Nombre</label>
                                <input [(ngModel)]="curso.nombre" name="nombre" type="text" class="form-control"
                                    placeholder="Nombre" required>
                            </div>
                            <div class="col">
                                <label>Sub-Categoria</label>
                                <select (change)="curso.subCategoria" [(ngModel)]="curso.subCategoria" name="tipo" class="form-control" required>
                                    <option *ngFor="let subcategoria of subcategoria" [value]="subcategoria._id">{{subcategoria.nombre}}</option>
                                </select>
                            </div>                            
                        </div>
                        <div class="form-group">
                            <label>Descripcion Corta</label>
                            <input [(ngModel)]="curso.descripcion" name="descripcion" type="text" class="form-control"
                                placeholder="Nombre" required>
                        </div>
                        <div class="form-group">
                            <label>Descripcion</label>
                            <textarea [(ngModel)]="curso.descripcionText" name="descripcionText" class="form-control"
                                rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Comandos</label>
                            <textarea [(ngModel)]="curso.comandos" name="comandos" class="form-control"
                                rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                            <i class="fa fa-save"></i>
                            Guardar
                        </button>
                        <a routerLink="/cursos" class="btn btn-inverse waves-effect waves-light">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <h2 class="box-title m-b-0">{{curso.nombre}}</h2>
        <hr>
        <div class="card card-body mt-3">
            <h4 class="box-title m-b-2">{{curso.nombre}}</h4>
            <img [src]="curso.img | imagen:'curso'" class="rounded img-fluid">
        </div>
        <hr>
        <p>==============CONFIG=================</p>
        <pre>
// =====================
// 
// =====================
</pre>

    </div>

    <!-- <div class="col-md-3" *ngIf="medico._id">
        <div class="card card-body">
            <h4 class="box-title m-b-0">Fotografía</h4>
  
            <img (click)="cambiarFoto()" [src]="medico.img | imagen:'medico'" class="img-circle img-fluid pointer">
        </div>
    </div> -->
</div>