<div class="row animated fadeIn">
    <div class="col-md-6">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Curso Nuevo</h3>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form autocomplete="off" #f="ngForm" ngNativeValidate (ngSubmit)="guardarCursoNuevo(f)">
                        <div class="form-group">
                            <label>Nombre Curso</label>
                            <input ngModel="" name="nombre" type="text" class="form-control" placeholder="Nombre Curso"
                                required>
                        </div>
                        <div class="form-group">
                            <label>Categoria</label>
                            <select (change)="curso.subCategoria" [(ngModel)]="curso.subCategoria" name="tipo" class="form-control" required>
                                <option *ngFor="let subcategoria of subcategoria" [value]="subcategoria._id">{{subcategoria.nombre}}</option>
                            </select>
                        </div>                            

                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                            <i class="fa fa-save"></i>
                            Guardar
                        </button>
                        <a routerLink="/cursos" class="btn btn-inverse waves-effect waves-light">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
